<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAmnr8NfpMgeXkrG3KNugj_IJkDWdQHJGE</string>
	<key>GCM_SENDER_ID</key>
	<string>134321067275</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dongne</string>
	<key>PROJECT_ID</key>
	<string>dongne-fa7e2</string>
	<key>STORAGE_BUCKET</key>
	<string>dongne-fa7e2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:134321067275:ios:0e887bfa4478d9cddffe0e</string>
</dict>
</plist>